
<div class="left-sideshow small-1 medium-2 large-3 centered columns">
  <h1> </h1>
</div>
<div class="registration-form small-10 medium-8 large-6 centered columns">
  <h1>
  Farm to Foodie
  </h1>
  <h5>
    <strong>Welcome!</strong><br> Thanks for stopping by.<br>Check out these
    farms, <br>find for farms near you, <br>search for ingredients for this
    weekend's dinner... <br>Most of all, support your local farmers.<br><br>
    <strong><em>Local Food, thousands of miles fresher!</em></strong>
  </h5>
  <strong><h3></h3></strong><br><br>
    <div class="farm-buttons" >
      <% @farms.shuffle.each do |farm| %>
          <div class="farm-details small-3 centered columns">
            <%= link_to "#{farm.name}", farm_path(farm), class: "registration-form button round tiny" %><br>
        </div>
      <% end %>
  </div>
</div>
<div class="left-sideshow small-1 medium-2 large-3 centered columns">
  <h1> </h1>
</div>
