<div class="left-sideshow small-1 medium-2 large-3 centered columns">
  <h1> </h1>
</div>
<div class="registration-form small-10 medium-8 large-6 centered columns">
<h3>Edit <%= resource_name.to_s.humanize %> information</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <% f.label :name %><i>Name</i><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <% f.label :email %><i>Email</i><br /><br />
    <%= f.email_field :email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <% f.label :password %> <i>New Password: (leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <% f.label :password_confirmation %>Confirm Password: (leave blank if you don't want to change it)<br/>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :farmer %>Check here if you're a farmer</strong></h5>
    <h5><strong><%= f.check_box :farmer %>
  </div>

  <div class="field">
    <%= f.label :foodie %>Check here if you're a foodie</strong></h5>
    <h5><strong><%= f.check_box :foodie %>
  </div>

  <div class="field">
    <% f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
  <div class="user-info">
    <%= f.submit "Update", class: "farm-details button tiny round" %>
  </div>
<% end %>
<h3>...</h3>
<h3>Unhappy?</h3>
  <div class="user-info">
    <p><%= button_to "Delete my account", registration_path(resource_name), class: "farm-details-delete button tiny round", data: { confirm: "Are you sure? All of your information will be lost forever." }, method: :delete %></p>
    <%= button_to "Back", :back, class: "farm-details button tiny round" %>
  </div>
</div>
<div class="left-sideshow small-1 medium-2 large-3 centered columns">
  <h1> </h1>
</div>
