<div class="left-sideshow small-1 medium-2 large-3 centered columns">
  <h1> </h1>
</div>
<div class="registration-form small-10 medium-8 large-6 centered columns">
  <h3>Sign up</h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <% f.label :name %><br />
      <%= f.text_field :name, placeholder: "name", autofocus: true %>
    </div>

    <div class="field">
      <% f.label :email %><br />
      <%= f.email_field :email, placeholder: "email" %>
    </div>

    <div id="farms-index" class="field">
      <%= f.check_box :farmer? %>
      <%= f.label :farmer, "Check here if you're a farmer" %>
    </div>

    <div id="farms-index" class="field">
      <%= f.check_box :foodie? %>
      <%= f.label :foodie, "Check here if you're a foodie" %>
    </div>


    <div class="field">
      <% f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, placeholder: "password", autocomplete: "off" %>
    </div>

    <div class="field">
      <% f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, placeholder: "confirm password", autocomplete: "off" %>
    </div>

    <div id="farms-index">
      <%= f.submit "Sign up", class: "registration-form button round meduim" %>
    </div>
  <% end %>
</div>
<div class="left-sideshow small-1 medium-2 large-3 centered columns">
  <h1> </h1>
</div>
