<div class="left-sideshow small-1 medium-2 large-3 centered columns">
  <h1> </h1>
</div>
<div class="registration-form small-10 medium-8 large-6 centered columns">
  <h3>Log in</h3>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <% f.label :email %><br />
      <%= f.email_field :email, placeholder: "email", autofocus: true %>
    </div>

    <div class="field">
      <% f.label :password %><br />
      <%= f.password_field :password, placeholder: "password", autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
    <div id="farms-index">
      <div class="actions">
        <%= f.submit "Log in", class: "registration-form button  round medium" %>
      </div>
    </div>
  <% end %>
</div>
<div class="left-sideshow small-1 medium-2 large-3 centered columns">
  <h1> </h1>
</div>
