<div class="left-sideshow small-1 medium-2 large-3 centered columns">
  <h1> </h1>
</div>
<div class="registration-form small-10 medium-8 large-6 centered columns">

<h1 class="sub-header">Update your market information!</h1>
<div class="farm-update-form small-5 centered columns">
  <%= form_for @market, as: :market, url: farm_market_path(@farm.id, @market), method: :patch do |f| %>
    <div class="field column small-12">
      <% f.label :day_of_week, class: "text-input-label" %><br>
      <%= f.text_field :day_of_week, class: "text-input-field", placeholder: "Day of the Week" %>
    </div>
    <div class="field column small-12">
      <% f.label :location, class: "text-input-label" %><br>
      <%= f.text_field :location, class: "text-input-field", placeholder: "location (like: WJ Farmer's market or the Lowe's parking lot)" %>
    </div>
    <div class="field column small-12">
      <% f.label :address, class: "text-input-label" %><br>
      <%= f.text_field :address, class: "text-input-field", placeholder: "address"%>
    </div>
    <div class="field column small-12">
      <% f.label :city, "City", class: "text-input-label" %><br>
      <%= f.text_field :city, class: "text-input-field", placeholder: "City" %>
    </div>
    <br>
    <div class="field column small-12">
      <% f.label :state, "State", class: "text-input-label" %><br>
      <%= f.text_field :state, class: "text-input-field", placeholder: "State (like this - NC)" %>
    </div>
    <br>
    <div class="field column small-12">
      <% f.label :zip, "Zip Code", class: "text-input-label" %><br>
      <%= f.text_field :zip, class: "text-input-field", placeholder: "zip code" %>
    </div>
    <br>
    <% f.hidden_field :latitude %>
    <% f.hidden_field :longitude %>
  <div class="actions">
    <%= f.submit "Update your Market!", class: "registration-form button  round medium" %>
  </div>
  <% end %>
  <%= button_to "Back to #{@farm.name}!", farm_path(@farm), class: 'registration-form button  round medium', method: :get %>
  <%= button_to "Back to home", farms_path, class: "registration-form button  round medium", method: :get %>
  </div>
</div>
<div class="left-sideshow small-1 medium-2 large-3 centered columns">
</div>
